body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

input {
  background-repeat:repeat-x; 
  border: 0px solid;
  height:25px;
}

#powerball {
  background-color: white;
  width:235px;
}
