/* Page */

body{
	color:#FFFFFF;
	font-size:16pt;
}
.section1{
	background-color:#11181e;
	width:50%;
	float:left;
	height:100%;
  border-right: 1vw solid #F5E5D6;
    box-sizing: border-box;
    margin:0;
    padding: 15px;
}
.section2{
	background-color:#f1c40f;
	width:50%;
	float:left;
	height:100%;
	margin:0;
	padding: 15px;
  box-sizing: border-box;
}

/* Navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #11181e;
		border-top: 10px solid white;
		border-left: 10px solid white;
		border-right: 10px solid white;
		border-bottom: 10px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #f1c40f;
}

.active {
background-color:#4CAF50;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
		color: black;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #f1c40f;
    color: black;
}
