/*
CSS SHEET
*/

/*
FONT
*/

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2.5em;
}

.standout {
  color: #990000;
}

/*
CENTER ALIGN
*/

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

/*
SPACING
*/

h1 {
  letter-spacing: 1em;
}

h3 {
  letter-spacing: 1em;
}

/*
DIVS
*/

div#about {
  font-size: 1.1em;
  margin: .1em .2em .2em .2em;
}

div#contact {
  font-size: 1.1em;
  margin: .1em .2em .2em .2em;
}

/*
MARGINS
*/

p.offset {
  margin: 2em;
}

/*
CHANGE FONT
*/

p.diff {
  font-family: arial, helvetica, sans-serif;
  font-size: 2.5em;
  color: purple;
}

/*
TABLE
*/

th, td {
  border: 1px solid black;
  padding: 5px;
  width: 20%;
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

/*
HEADER
*/

div#header {
      width: 100%
      position: fixed;
      top: 0;
      left: 0;
      background-color: #990000;
  }

div#header h2 {
  font-famiy: Verdana, Geneva, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 2em;
}

/*
TABS
*/

div.full_tab {
position: fixed;
width: 300px;
height: 80px;
background-color: #cc3366;
z-index: 1;
}
div.full_tab h2 {
font-family: arial, helvetica, sans-serif;
font-size: 40px;
color: white;
float: right;
margin: 19px 20px 0 0;
}



/* FLOAT */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-content{
    width: 35%;
    float: left;
}
.aside{
    width: 65%;
    float: left;
}
.wrapper, html, body{
    height: 100%;
}
